<!DOCTYPE html>
<html>

<head>
	<title>
		{% block title %}
		{% endblock title %}
	</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	{% block head %}
	{% endblock head %}
</head>

<body>
	{% set eggs = ["The OmNomNomNomicon", "Eragon: The Movie", "Wait, This Isn't Narnia", 
	"Star Far the War Bar", "The Player's Handbook", "Xanathar Says Hello!", "The Lusty Argonian Maid", 
	"The Sixteen Accords to Madness", "Dwemer, History and Culture"]
	%}

	{% set tagdict = {"consumable":"coral", "food":"coral", "potion":"coral", "ingredient":"coral", "weapon":"darkcyan",
	"shortrangedweapon":"darkcyan", "longrangedweapon":"darkcyan", "magicalweapon":"darkcyan", "armor":"firebrick",
	"clothing":"firebrick", "book/scroll":"darkorchid", "spellbook":"darkorchid", "valuable":"darkorchid",
	"misc":"darkorchid", "magical":"slategrey", "mundane":"slategrey", "currency":"gold"} %}

	{# navbar #}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{{url_for('index')}}">Chest</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if not 'user' in session %}
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">Log In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('register') }}">Register</a>
				</li>
			</ul>
			{% else %}
			<!-- right elements -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('characters')}}">My Characters</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('campaign') }}">My Campaigns</a>
				</li>
			</ul>
			<!-- left elements -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">Logout</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</nav>

	<div class="container">

		<br><br>

		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}

		<div class="alert alert-dismissible alert-{{ category }}" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<br>

		{% endfor %}
		{% endif %}
		{% endwith %}

		<br><br>

		<div>
			PLEASE NOTE THAT THIS APP IS STILL UNDER DEVELOPMENT <br>
			REPORT ALL BUGS TO THE AUTHOR <br>
			IG | <a class="text-info"
				href="https://www.instagram.com/staticvariablecannot/">@STATICVARIABLECANNOT</a> <br>
			EMAIL | MOUDUDUR921@GMAIL.COM <br>
			GITHUB | <a class="text-info" href="https://github.com/moodyRahman/chest/"> The Chest Git
				Repo</a> <br>
			<br>
			<br>
			<br>


		</div>

		{% block body %}
		{% endblock body %}

	</div>

	<script>
		$("[data-toggle=popover]").popover();
	</script>
</body>

</html>