<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>debugger</title>
</head>
<body>
	<form action="/characters/update" method="post" autocomplete="off">
		
		<!-- data = {
		"itemid":itemid,
		"charid":charid,
		"itemname":itemname,
		"description":description
		}; -->

		<input type="text" name="itemid" id="" value="90416602416925310"> <br>
		<input type="text" name="charid" id="" value="23095991631134"><br>
		<input type="text" name="itemname" id="" value="just edited"><br>
		<input type="text" name="description" id="" value = "new desc"><br>
		<input type="submit" value="submit">
	
	</form>
</body>
</html>