{% extends "_base.html" %}
{% from "macros/helpdiv.macro.html" import helpdivgen%}

{% set helpin = 
[
{'text':'Register for an account', 'file':'0login.gif'},
{'text':'Make a new character', 'file':'1newchar.gif'},
{'text':'Edit and delete your character', 'file':'2editdeletechar.gif'},
{'text':'Give your character items', 'file':'3newitem.gif'},
{'text':'Search through your inventory', 'file':'4fuzzy.gif'},
{'text':'Edit your inventory', 'file':'5edititem.gif'},
{'text':'Copy items', 'file':'6copyitem.gif'},
{'text':'Delete items', 'file':'7deleteitem.gif'}
] %}

{% block title %} Help | Chest {% endblock title %}

{% block head %}

<style>
	img {
		max-width: 100%;
		max-height: 100%;
	}
</style>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/slick.css')}}" />


{% endblock head %}

{% block body %}

<div class="jumbotron">

	<h2>what is this app?</h2>
	<b>
		Welcome to Chest! The last Table Top RPG manager you'll ever need! <br>
	</b>
	This app was made in response to the bulky and difficulty of use for other TRPG inventory managers. The often
	cater
	towards the official item list, and have poor support for homebrew items.

	This app is a clean and stripped down inventory manager, supporting multiple characters, item tagging, fuzzy
	searching,
	and editing existing entries.
</div>



<h3>how to use chest?</h3>
<br>
<div>
</div>
<br><br><br><br>


<button class="btn btn-dark" id="prev">PREV</button>
<button class="btn btn-dark float-right" id="next">NEXT</button>
<div class="siema" style="height: 500px;">

	{{helpdivgen(helpin)}}

</div>




<script type="text/javascript" src="{{url_for('static', filename='js/slick.min.js')}}"></script>

<script>
	$(document).ready(function () {
		$('.siema').slick({
			// autoplay:true, 
			autoplaySpeed: 3000,
			arrows: true,
			prevArrow: "#prev",
			nextArrow: "#next"
		});
	});
</script>

{% endblock body %}