{% extends "_base.html" %}
{% block title %} Help | Chest {% endblock title %}

{% block head %} {% endblock head %}

{% block body %}

<h2>what is this app?</h2>
<b>
	Welcome to Chest! The last Table Top RPG manager you'll ever need! <br>
</b>
This app was made in response to the bulky and difficulty of use for other TRPG inventory managers. The often cater towards the official item list, and have poor support for homebrew items. 

This app is a clean and stripped down inventory manager, supporting multiple characters, item tagging, fuzzy searching, and editing existing entries. 
<br><br>


<h3>how to use chest?</h3>



{% endblock body %}