{% extends "_base.html" %}
{% block title %} Home | Chest {% endblock title %}

{% block head %} {% endblock head %}
{% block body %}

<div class="container">
	<h2>Hello {{session["user"]}}, and welcome to Chest!</h2>
	Chest is a lightweight inventory manager for homebrew DND and other TRPG sessions. <br>
	Check out the nav bar to access the features of Chest. <br>
	This app is still in the very beta, so be sure to report all bugs to it's author, Moody Rahman <br>
	Follow me on <br>
	<a href="https://www.instagram.com/staticvariablecannot/">Instagram</a> <br>
	<a href="http://github.com/moodyRahman">GitHub</a><br>
	<a href="https://www.linkedin.com/in/moody-rahman-4471a81b0/">Linkedin</a>
	<br> <br>
	source code up <a href="http://github.com/moodyRahman/chest">here</a><br><br>
	check the code yourself, all user information is hashed and encrypted so even I, the literal owner of this website, have no clue what anyone's password is. <br><br><br>

	Character Inventory Managment: DONE <br>
	Automatic Dice Roller: BETA <br>
	CAMPAIGN MANAGMENT: TBD

</div>
<br>
<br>

{% endblock body %}