{% extends "_base.html" %}
{% block title %} Home | Chest {% endblock title %}

{% block head %} {% endblock head %}
{% block body %}

<div>
	<h2>Hello {{session["user"]}}</h2>
</div>

<pre>
	      .ZZZZZZZZZZ
             Z$???~~~????Z.            
           $Z$$? .~~~. ??$ZZ                waluigi would like
          M$$$ZZZZZZZZZZ$$$$MM                   to have a word with you
          M$$Z$$???????$ZZ$$MM          
          MMMZZNNNNNNNNMMZMMMM          
        ===NNMMM=======MMMNN===.        
       .$$:MM=+ MM:::MM .=MM::$.        
       .$$=MM=+ MM:::MM .=MM==$.        
         .$MM==:II:::II::=MM$$          
         ..MMMM:$$III$$::MMM..          
           MMMMMMMMMMMMMMMMM            
           MMMMMMM~~~MMMMMMM            
            .$$ ~~   ~~ .$              
      ZZZZ   $$$$$$$$$$$$$.  .ZZZ      
    .Z???IZZZ$Z=:::::::==$ZZZ$???ZZ    
   ..$????$$$$$=:::::::=+$$$$$???$$.    
   Z$$?????Z$ZZ$=======$$Z$$?????$ZZ    
 ..Z$$??ZZZ$$ZZ$==:::==$$Z$$ZZZ??$ZZ..  
 $Z$$$ZZ   MMZZZ$$$$$$$ZZZMM   $Z$$$ZZ  
 $ZIIIZZ   MM~~~ZZZZZZZ~~~MM   $ZIIIZZ  
 II   II   MM~~~ZZZZZZZ~~~MM   II   II  
I,:.    II   MMZZZZZZZZZZM    I    .::II
I,:::   II   MM8ZZZZZZZ88M    I   .:::II
 II:::II   MMMM8888888888MMM   II:::II  
   III    MMMZZ888MMM8888ZMMMM   III    
        MMZZZ88MMM   MMMM8ZZZZM        
        MMZ88MMM       MMM88ZZM        
      MM88888MM          M88888MM      
      MM8888888M       MM888888MM      
      MMMM88888M       MM88888MMM      
   MMMMM$$$$$$$M       MM$$$$$$MMMMM    
   MM=$$$$$$$MMM       MMM$$$$$$$==M    
     MMMMMMMMMM          MMMMMMMMMM
</pre>
<br>
<br>

{% endblock body %}