<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home | Chest</title>
</head>
<body>
	Hello {{session["user"]}}!!

	<form action="{{url_for('logout')}}" method="post">
		<button type="submit">LOGOUT</button>
	</form>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		{{ message }}<br>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</body>
</html>