<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login | Chest</title>
</head>
<body>
	<form action="{{url_for('login')}}" method="post">
		<input type="text" name="username" id="">
		<input type="password" name="password" id="">
		<input type="submit" value="LOGIN">
	</form>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		{{ message }}<br>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	
</body>
</html>