{% extends "_base.html" %}
{% block title %} Register | Chest {% endblock title %}

{% block head %} {% endblock head %}
{% block body %}

<h1>REGISTER</h1>

<form action="{{url_for('register')}}" method="post" id="registerform">
	username <input type="text" name="username" id="uname" class="form-control"> <br>
	password <input type="password" name="password0" id="pw0" class="form-control"> <br>
	confirm password <input type="password" name="password1" id="pw1" class="form-control"> <br>
	<button type="submit" class="btn btn-primary btn-lg btn-block"> SUBMIT</button>
</form>
{% endblock body %}