{% extends "_base.html" %}
{% from "macros/roller.macro.html" import roller%}
{% from "macros/modal.macro.html" import modal%}
{% block title %} Rollers | Chest {% endblock title %}

{% block head %}
<style>
	.grid-container {
		display: grid;
		grid-template-columns: 1.5fr 0.5fr 1fr 1fr 0.8fr 0.5fr 1.7fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 1px 1px;
		grid-template-areas: "sidenav . newroller newroller newroller . bigi""sidenav . newroller newroller newroller . bigi""sidenav . newroller newroller newroller . bigi""sidenav . newroller newroller newroller . bigi""sidenav . . . . . .""sidenav . current-rollers current-rollers current-rollers current-rollers current-rollers""sidenav . current-rollers current-rollers current-rollers current-rollers current-rollers""sidenav . current-rollers current-rollers current-rollers current-rollers current-rollers";
	}

	.current-rollers {
		grid-area: current-rollers;
	}

	.newroller {
		grid-area: newroller;
	}

	.bigi {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1.3fr 0.7fr;
		gap: 1px 1px;
		grid-template-areas: "inventory inventory inventory""inventitle inventitle inventitle";
		grid-area: bigi;
	}

	.inventory {
		grid-area: inventory;
	}

	.inventitle {
		grid-area: inventitle;
	}

	.sidenav {
		grid-area: sidenav;
	}
</style>


{% endblock head %}
{% block body %}

<a href="{{url_for('viewcharacter', charid=char.charid)}}">
	<button class="btn btn-dark">BACK TO CHAR</button> <br>
	<hr>
</a>

<div class="grid-container">
	<div class="current-rollers">
		<div class="container">
			<div class="row">
		
				<div class="col">
					{% for roll in char.rollers[::-2] %}
		
					{{roller(roll)}}
					{% endfor %}
				</div>
		
				<div class="col">
					{% for roll in char.rollers[-2::-2] %}
		
					{{roller(roll)}}
					{% endfor %}
				</div>
		
			</div>
		</div>
	</div>
	<div class="newroller">
		<div class="container">
			<form action="">
		
				<input id="newname" type="text" placeholder="roller name" class="form-control">
				<br>
				<div id="dice">
					<div class="input-group dice">
						<input oninput="numonly(this)" name="dn-0" type="number" placeholder="dice"
							class="dn form-control">
						<span class="input-group-addon">&nbsp;d&nbsp;</span>
						<input oninput="numonly(this)" name="ds-0" type="number" placeholder="dice count"
							class="ds form-control"><br>
					</div>
				</div>
				<br>
		
				<div class="row">
					<div class="col-xs-6">
						<button id="dicemod" onclick="tominus(this)" class="btn btn-dark">+</button>
					</div>
		
					<div class="col-xs-6">
						<input id="modifier" oninput="numonly(this)" type="number" name="modifier"
							class="form-control" placeholder="modifier">
					</div>
				</div>
				<br>
		
		
			</form>
		
			<button onclick="newelem(this)" class="btn btn-dark btn-block">add another dice</button>
		
			<hr>
			<button class="btn" onclick="rollersubmit(this)">
				UPLOAD ROLLER
			</button>
		</div>
	</div>
	<div class="bigi">
		<div class="inventory">
			<input type="text" name="" id="searchbox" class="form-control" placeholder="query your inventory">
			<div style="overflow-y: scroll; height: 250px;">
				<table class="table table-hover overflow-auto">
					<tbody class="">
			
						{% for item in char.inventory %}
						<tr>
							<!-- $('#descdisp').val('HEMCH') -->
							<th class="inventoryrow" onclick="inventoryclick(this)" id="{{item.itemid}}"
								data-desc="{{item.description}}" data-name="{{item.name}}">
								{{item.name}}
							</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<br>
			<div id="descdisp">
				CLICK ON AN ITEM TO DISPLAY ITS DESCRIPTION
			</div>
		</div>
		<div class="inventitle">
		</div>
	</div>
	<div class="sidenav bg-light list-group list-group-flush" id="allroller">
		
	</div>
</div>


<script>
	rollerurl = "{{url_for('newroller', charid=char.charid) | safe}}";
	rollersdeleteurl = "{{url_for('deleteroller', charid=char.charid) | safe}}";
	charid = {{ char.charid | safe }};
</script>
<script src="{{url_for('static', filename='js/rollerdice.js')}}"></script>
<script src="{{url_for('static', filename='js/post.js')}}"></script>
<script src="{{url_for('static', filename='js/rollersearch.js')}}"></script>
<script src="{{url_for('static', filename='js/newroller.js')}}"></script>
<script src="{{url_for('static', filename='js/rollerdelete.js')}}"></script>


{% endblock body %}