{% extends "_base.html" %}
{% block title %} {{char.name}} | Chest {% endblock title %}

{% block head %} {% endblock head %}
{% block body %}



<div class="jumbotron">

	<h2>{{char.name}}</h2>



	<h4 class="text-muted">{{char.ptype}}</h4>

</div>


{% if char.inventory %}



<table class="table table-hover">
	<thead>
		<th scope="col" class="text-primary">Name</th>
		<th scope="col" class="text-primary">Description</th>
	</thead>

	<tbody class="text-secondary" style="width:100%">
		{% for item in char.inventory %}

		<tr id="{{item.itemid}}_row">
			<td style="width:25%">
				<div id="{{item.itemid}}_name">{{item.name}}</div>
			</td>

			<td style="width:50%">
				<div id="{{item.itemid}}_description">{{item.description}}</div>
			</td>
			<td style="width:25%">
				<button id="{{item.itemid}}" class="btn btn-outline-info float-right" onclick="itemeditor(this)">edit</button>
			</td>
		</tr>
		{% endfor %}

	</tbody>


</table>

{%else %}

<h4>no inventory data availible</h4>


{% endif %}
<div class="jumbotron">

	<h4>Add Item</h4>
	<form action="{{url_for('viewcharacter', charid=char.charid)}}" method="post" autocomplete="off">
		<input type="text" name="name" class="form-control" placeholder="Item name">
		<input type="text" name="description" class="form-control" placeholder="Description">
		<input type="submit" value="upload" class="btn btn-primary">
	</form>

</div>

<script>
	charid = {{ char.charid | safe }};
	url = "{{url_for('updateitem') | safe}}";
</script>

<script src="/static/itemupdate.js"></script>

{% endblock body %}