{% extends "_base.html" %}
{% block title %} {{char.name}} | Chest {% endblock title %}

{% block head %} {% endblock head %}
{% block body %}



<div class="jumbotron">

	<h2 id="charname">{{char.name}}</h2>



	<h4 id="charclass" class="text-muted">{{char.ptype}}</h4>

	<blockquote class="blockquote">
		<p id="chardesc" class="mb-0">{{char.description}}</p>
		<footer class="blockquote-footer"><cite title="Source Title">{{eggs | random}}</cite></footer>
	</blockquote>
	<div>
		<button class="btn btn-outline-info" style="vertical-align: right;" onclick="charupdate(this)">update</button>
	</div>

</div>


{% if char.inventory %}



<table class="table table-hover">
	<thead>
		<th scope="col" class="text-primary">Name</th>
		<th scope="col" class="text-primary">Description</th>
	</thead>

	<tbody class="text-secondary" style="width:100%">
		{% for item in char.inventory %}

		<tr id="{{item.itemid}}_row">
			<td style="width:20%">
				<div id="{{item.itemid}}_name">{{item.name}}</div>
			</td>

			<td style="width:70%">
				<table class="table table-hover">
					<tr>	{% if item.description %}
						<td style="height:75%">
							<div id="{{item.itemid}}_description">{{item.description}}</div>
						</td>
						{% endif %}

					</tr>
					<tr>
						<td style="text-align: right;">
							{% if item.tags%}
							{%for tag in item.tags%}
							<span class="badge badge-pill badge-dark" style="background-color:{{tagdict[tag]}};">{{tag}}</span>
							{% endfor %}
							{% else %}
							<span class="badge badge-pill badge-light">no tags</span>
							{% endif %}
						</td>
					</tr>

				</table>

			</td>
			<td style="width:10%">
				<button type="button" class="btn btn-outline-secondary btn-sm" data-container="body"
					data-toggle="popover" data-placement="right" data-html="true" data-content="
					<button class='btn btn-outline-success btn-sm btn-block' id='{{item.itemid}}' onclick='itemeditor(this)'>update</button> 
					<br><br>
					<button class='btn btn-outline-info btn-sm btn-block' id='{{item.itemid}}' onclick='copy(this)'>copy</button>
					<br><br>
					<button class='btn btn-outline-danger btn-sm btn-block' id='{{item.itemid}}' onclick='deleteitem(this)'>delete</button>">
					Options
				</button>
			</td>
			<!-- <td style="width:5%">
				<button id="{{item.itemid}}" class="btn btn-outline-info float-right" onclick="itemeditor(this)">edit</button>
			</td>
			<td style="width:5%">
				<button id="{{item.itemid}}" class="btn btn-danger float-right" onclick="deleteitem(this)">delete</button>
			</td> -->
		</tr>
		{% endfor %}

	</tbody>


</table>

{% else %}

<h4>no inventory data availible</h4>


{% endif %}
<div class="jumbotron">

	<h4>Add Item</h4>
	<form action="{{url_for('viewcharacter', charid=char.charid)}}" method="post" autocomplete="off">
		<input type="text" name="name" class="form-control" placeholder="new item name">
		<input type="text" name="description" class="form-control" placeholder="new item description">
		<br>
		<u>TAGS</u>
		<br><br>

		<div class="form-check">
			<table class="table table-hover table-sm">
				<tr>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-consumable"
							name="tag-consumable">
						<label class="" for="tag-weapon">consumable</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-food"
							name="tag-food">
						<label class="" for="tag-weapon">food</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-potion"
							name="tag-potion">
						<label class="" for="tag-weapon">potion</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-ingredient"
							name="tag-ingredient">
						<label class="" for="tag-weapon">ingredient</label>
					</td>
				</tr>
				<tr>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-weapon"
							name="tag-weapon">
						<label class="" for="tag-weapon">weapon</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input"
							id="tag-shortrangedweapon" name="tag-shortrangedweapon">
						<label class="" for="tag-weapon">shortrangedweapon</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input"
							id="tag-longrangedweapon" name="tag-longrangedweapon">
						<label class="" for="tag-weapon">longrangedweapon</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-magicalweapon"
							name="tag-magicalweapon">
						<label class="" for="tag-weapon">magicalweapon</label>
					</td>
				</tr>
				<tr>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-armor"
							name="tag-armor">
						<label class="" for="tag-weapon">armor</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-clothing"
							name="tag-clothing">
						<label class="" for="tag-weapon">clothing</label>
					</td>
				</tr>
				<tr>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-book/scroll"
							name="tag-book/scroll">
						<label class="" for="tag-weapon">book/scroll</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-spellbook"
							name="tag-spellbook">
						<label class="" for="tag-weapon">spellbook</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-valuable"
							name="tag-valuable">
						<label class="" for="tag-weapon">valuable</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-misc"
							name="tag-misc">
						<label class="" for="tag-weapon">misc</label>
					</td>
				</tr>
				<tr>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-magical"
							name="tag-magical">
						<label class="" for="tag-weapon">magical</label>
					</td>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-mundane"
							name="tag-mundane">
						<label class="" for="tag-weapon">mundane</label>
					</td>
				</tr>
				<tr>
					<td>

						<input type="checkbox" class="form-check-input" id="tag-currency"
							name="tag-currency">
						<label class="" for="tag-weapon">currency</label>
					</td>
				</tr>
			</table>

		</div>

		<br>
		<input type="text" name="charid" style="display:none" value='{{char.charid}}'>
		<input type="submit" value="upload" class="btn btn-primary">
	</form>

</div>

<script>
	charid = {{ char.charid | safe }};
	updateurl = "{{url_for('updateitem') | safe}}";
	deleteurl = "{{url_for('deleteitem') | safe}}"
	charupdateurl = "{{url_for('updatechar', charid=char.charid) | safe}}"
</script>

<script src="/static/itemupdate.js"></script>

{% endblock body %}